[Unit]
Description=Home Automation
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=<path to>
ExecStart=<path to>/home_automation.py

[Install]
WantedBy=network.target
